GOOGLE_ANALYTICS_MEASUREMENT_ID=G-BF6HH1FC70
MONGODB_CLUSTER_NAME=<host>
MONGODB_DB_NAME=abolfazldev
MONGODB_USERNAME=<username>
MONGODB_PASSWORD=<password>
MONGODB_COUNTS_COLLECTION=counts
MONGODB_COMMENTS_COLLECTION=comments
FEATURE_COMMENTS_ENABLED=true
FEATURE_NEWSLETTER_ENABLED=true
