@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
  scroll-behavior: smooth;
  font-display: swap;
  accent-color: #43d9ad;
}

@layer base {
  ::selection {
    background-color: #43d9ad !important;
    color: #fff;
  }

  :root {
    --white-color: #fff;
    --main-bg-color: #fff;
    --primary-color: #43d9ad;
    --text-primary: #282c33;
    --text-secondary: #282c33;
    --gray-1: #282c33;
    --purple-2: "#ccc";
    --border-color: "#370C62";
    --ellipse-gradient: radial-gradient(
      39% 39% at 50% 50%,
      rgba(67, 217, 173, 0.9) 0%,
      rgba(67, 217, 173, 0) 70%
    );
    --bg-tertiary: #fcf9ff;
    --bg-tertiary-2: #f9f3ff;
    --text-link: #9c8aae;
    --text-link-2: #5f6571;

    --gray-3: #abb2bf;
    --gray-4: #e8e8e8;
    --gray-7: #e5e5e580;
  }

  /* dark theme colors */
  :root[class="dark"] {
    --main-bg-color: #282c33;
    --white-color: #fff;
    --primary-color: #43d9ad;
    --text-primary: #abb2bf;
    --text-secondary: #fff;
    --gray-1: white;
    --purple-2: "#4E4458";
    --border-color: "#ABB2BF";
    --bg-tertiary: #14161a80;
    --bg-tertiary-2: #14161a80;
    --text-link: #9c8aae;
    --text-link-2: #5f6571;

    -sample: #ffffff;

    --gray-3: #abb2bf;
    --gray-4: #2a2a2a;
    --gray-7: #14161a80;
  }
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px) scale(0.8);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 1024px) {
  .container::before {
    content: "";
    position: absolute;
    width: 155px;
    height: 155px;
    border: 1px solid #abb2bf;
    left: -40rem;
    top: 40rem;
  }
}

.ellipse::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
  top: 150%;
  background: radial-gradient(
    79% 79% at 90% 50%,
    rgba(67, 217, 173, 0.9) 0%,
    rgba(67, 217, 173, 0) 70%
  );
  left: 0;
}

@media screen and (min-width: 650px) {
  .ellipse::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    top: 80%;
    filter: blur(7rem);
    background: radial-gradient(
      79% 69% at 70% 50%,
      rgba(67, 217, 173, 0.9) 0%,
      rgba(67, 217, 173, 0) 70%
    );
    animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  }
}

/* ARTICLES ELLIPSE BACKGROUND GRADIENT */
@media screen and (min-width: 1024px) {
  .ellipse::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 700px;
    filter: blur(7rem);
    top: 90%;
    background: radial-gradient(
      89% 99% at 70% 50%,
      rgba(67, 217, 173, 0.9) 0%,
      rgba(67, 217, 173, 0) 70%
    );
  }
}

@media screen and (min-width: 1200px) {
  .ellipse::before {
    width: 100%;
    height: 1000px;
    filter: blur(7rem);
    top: 65%;
    background: radial-gradient(
      79% 79% at 60% 50%,
      rgba(67, 217, 173, 0.9) 0%,
      rgba(67, 217, 173, 0) 70%
    );
  }
}

@media screen and (min-width: 1350px) {
  .ellipse::before {
    width: 100%;
    height: 1000px;
    filter: blur(7rem);
    top: 65%;
    background: radial-gradient(
      69% 79% at 60% 50%,
      rgba(67, 217, 173, 0.9) 0%,
      rgba(67, 217, 173, 0) 70%
    );
  }
}

body::-webkit-scrollbar {
  /* hide scrollbars with webkit scrollbar */
  display: none;
}
